.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity 0.5s linear;
}