.popup__input {
    max-width: 358px;
    margin: 0 36px 48px 36px;
    padding: 0;
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid #000;
}

@media screen and ( max-width:767px) {
    .popup__input {
        margin: 0 22px 43px 22px;
    }
}