.popup__content {
    background-color: #fff;
    color: #000;
    width: 430px;
    border-radius: 10px;
    position: relative;
}

@media screen and ( max-width:767px) {
    .popup__content {
        width: 282px;
    }
}