.header__logo {
    width: 144px;
    height: 33px;
    padding: 45px 0 40px 0;
}

@media screen and ( max-width:767px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        padding: 28px 0 31.6px 27px;
    }
}