.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 12px 18px 16px 0;
}

@media screen and ( max-width:767px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        margin: 22.25px 10px 14px 0;
    }
}