.elements {
    width: calc(100% - 400px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    padding-top: 46px;
}

@media screen and ( max-width:1023px) {
    .elements {
        width: calc(100% - 140px);
    }
}

@media screen and ( max-width:767px) {
    .elements {
        width: 282px;
        margin: auto;
        padding: 0;
    }
}