.profile__avatar-container {
    position: relative;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 30px;
}

.profile__avatar-container::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    background: rgba(0, 0, 0, 0.7) url(../../../images/avatar.svg) center no-repeat;
    visibility: hidden;
}

.profile__avatar-container:hover::after {
    visibility: visible;
}

@media screen and ( max-width:767px) {
    .profile__avatar-container {
        margin: 0;
    }
}