.element__delete-button {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/bin.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity 0.4s;
    background-color: transparent;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: none;
    background-size: cover;
    padding: 0;
}

.element__delete-button:hover {
    opacity: 0.4;
}