.footer {
    width: calc(100% - 400px);
    margin: auto;
    margin-top: 67px;
    margin-bottom: 60px;
}

@media screen and ( max-width:1023px) {
    .footer {
        width: calc(100% - 140px);
    }
}

@media screen and ( max-width:767px) {
    .footer {
        width: calc(100% - 38px);
        margin-top: 48px;
        margin-bottom: 36px;
    }
}